---
const personalImageAlt = "José Manuel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="px-4 [&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm a versatile developer driven by a passion for technology and lifelong
      learning.
    </p>

    <p>
      I bring a unique perspective shaped by my multidisciplinary background as
      a mathematics teacher and educational entrepreneur. This experience has
      strengthened my analytical skills and my ability to tackle complex
      problems, transforming challenges into innovative and effective solutions.
    </p>

    <p>
      Thanks to these abilities, I successfully completed Evertec’s junior
      developer training program in just four months, despite it being designed
      to last six. Moreover, upon completing the program, I was hired directly
      as a middle developer instead of a junior developer.
    </p>

    <p>
      The following year, I had the opportunity to apply my teaching skills by
      becoming an instructor for the same course I had taken to join the
      company. My teaching focused on strengthening programming logic and
      helping students develop a more intuitive and confident approach to
      coding.
    </p>

    <p>
      This ability to learn quickly also enabled me to take on my work at the
      University of Antioquia with great efficiency, allowing me to complete the
      project in just a few months. I was able to adapt seamlessly, even though
      the technologies used were initially unfamiliar to me.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/personal-photo.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
