---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("experience.udea.date"),
    title: t("experience.udea.title"),
    company: t("experience.udea.company"),
    description: t("experience.udea.description"),
    link: "https://impactu.colav.co",
    github: "https://github.com/colav/quyca",
  },
  {
    date: t("experience.evertec.date"),
    title: "Full-stack Developer Specialist",
    company: "Evertec",
    description: t("experience.evertec.description"),
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
